*{
    margin: 0;
}
#margin{
    width: 1000px;
    height: 600px;
    border: dashed 4px rgb(201, 46, 136);
    margin: 10px;
}
h1{
    text-align: center;
}
#border{
    width: 800px;
    height: 500px;
    background-color: rgb(238, 11, 162);
    margin-left: 100px;
}
#padding{
    width: 600px;
    height: 400px;
    background-color: rgb(241, 235, 239);
    margin-left: 100px;
}
#content{
    width: 400px;
    height: 250px;
    margin-left: 100px;
    margin-top: 20px;
    border: dashed 4px rgb(201, 46, 136);
}
#c1{
    padding-top: 20px;
}